<br />
<br />
<br />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/StyleSheet1.css" rel="stylesheet" />

<body>
    <img src="~/images/colorful-bicycle-background.jpg" width="1050" />

    @{
        ViewBag.Title = "О нас";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Наш магазин находится по адресу Нахимовкий, 21</p>
    <p>E-mail: isip_a.a.borisov@mpt.ru</p>
    <p>Телефон: 98880002222</p>
    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/nakhimovskiy_prospekt_21/Z04Ycw5nTkEAQFtvfXp3dXRhZg==/?ll=37.599623%2C55.664907&utm_medium=mapframe&utm_source=maps&z=17.6" style="color:#eee;font-size:12px;position:absolute;top:14px;">Нахимовский проспект, 21 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCQxyEuDcD" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    <img src="~/images/colorful-bicycle-background.jpg" width="1050" />
    <p>Все права защищены</p>
</body>