<br />
<br />
<br />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
@{
    ViewBag.Title = "ДОСТАВКА И САМОВЫВОЗ";
}
<head>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div>
        <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
        <ol class="content" style="list-style-type:none;">

            <li>
                <h2>НАШИ ПУНКТЫ ВЫДАЧИ</h2>
                <ol class="subsubcontent">
                    <li>
                        <p>Нахимовский,21</p>
                    </li>
                    <li>
                        <p>Нежинская, 7</p>
                    <li><p>Малая Филёвская, 12</p></li>
                </ol>
                <h2>ДОСТАВКА CDEK: </h2>
                <ol class="subsubcontent">
                    <li>
                        <p>300 рублей до пункта самовывоза</p>
                    </li>
                </ol>
                <h2>ФИРМЕННАЯ ДОСТАВКА:  </h2>
                <ol class="subsubcontent">
                    <li>
                        <p>600 рублей. Доставка в течение 6 часов в пределах МКАД</p>
                    </li>
                </ol>
            </li>
        </ol>
        <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
    </div>
</body>