<br />
<br />
<br />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Shop.Models.Product>
@{
    ViewData["Title"] = "HomePage";
}

<body>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <h2>Каталог товаров</h2>
    <div class="prod-wrap" style="border:groove">
        <div class="content">
            <ul class="badges">
            </ul>
            <div class="indent">
            </div>
            <div class="tovar-img"><img src="https://ultrasport.ru/upload/cache/Products/Product11052/d29c79145e-1_250x.jpg" alt="Велосипед STELS Navigator 300 Lady 28 Z010 (2018)"></div>
            <div class="name-holder">Велосипед STELS Navigator 300 Lady 28 Z010 (2018)</div>
            <div class="prices">
                <div class="buy-block">
                    <div class="leftColum">
                        <div class="old-price fontMBC">
                            <span class="old">9090&nbsp;</span>
                        </div>
                    </div>
                    <div class="rightColum">
                        <div style="float:left;width:119px;">
                            <button type="button" id="btn-show-modal-notify" class="btn btn-primary btn-lg btn-short-view-cat" data-toggle="modal" data-target="#product-notify-modal">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="prod-wrap" style="border:groove">
        <div class="content">
            <ul class="badges">
            </ul>
            <div class="indent">
            </div>
            <div class="tovar-img"><img src="https://ultrasport.ru/upload/cache/Products/Product19172/07b3e446f8-1_250x.jpg" alt="Велосипед STELS Navigator 300 Lady 28 Z010 (2018)"></div>
            <div class="name-holder">Велосипед  FORWARD Sevilla 1.0</div>
            <div class="prices">
                <div class="buy-block">
                    <div class="leftColum">
                        <div class="old-price fontMBC">
                            <span class="old">9090&nbsp;</span>
                        </div>
                    </div>
                    <div class="rightColum">
                        <div style="float:left;width:119px;">
                            <button type="button" id="btn-show-modal-notify" class="btn btn-primary btn-lg btn-short-view-cat" data-toggle="modal" data-target="#product-notify-modal">
                                Купить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="prod-wrap" style="border:groove">
        <div class="content">
            <ul class="badges">
            </ul>
            <div class="indent">
            </div>
            <div class="tovar-img"><img src="https://ultrasport.ru/upload/cache/Products/Product11505/fe30f09389-1_250x.jpg" alt="Велосипед STELS Navigator 300 Lady 28 Z010 (2018)"></div>
            <div class="name-holder">Велосипед STELS Navigator 310 Lady 28 V020 (2018))</div>
            <div class="prices">
                <div class="buy-block">
                    <div class="leftColum">
                        <div class="old-price fontMBC">
                            <span class="old">9090&nbsp;</span>
                        </div>
                    </div>
                    <div class="rightColum">
                        <div style="float:left;width:119px;">
                            <button type="button" id="btn-show-modal-notify" class="btn btn-primary btn-lg btn-short-view-cat" data-toggle="modal" data-target="#product-notify-modal">
                                Купить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="prod-wrap" style="border:groove">
        <div class="content">
            <ul class="badges">
            </ul>
            <div class="indent">
            </div>
            <div class="tovar-img"><img src="https://ultrasport.ru/upload/cache/Products/Product8979/ade9c04206-1_250x.jpg" alt="Велосипед STELS Navigator 300 Lady 28 Z010 (2018)"></div>
            <div class="name-holder">Велосипед STELS Navigator 300 Lady 28 Z010 (2018)</div>
            <div class="prices">
                <div class="buy-block">
                    <div class="leftColum">
                        <div class="old-price fontMBC">
                            <span class="old">9090&nbsp;</span>
                        </div>
                    </div>
                    <div class="rightColum">
                        <div style="float:left;width:119px;">
                            <button type="button" id="btn-show-modal-notify" class="btn btn-primary btn-lg btn-short-view-cat" data-toggle="modal" data-target="#product-notify-modal">
                                Купить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="prod-wrap" style="border:groove">
        <div class="content">
            <ul class="badges">
            </ul>
            <div class="indent">
            </div>
            <div class="tovar-img"><img src="https://ultrasport.ru/upload/cache/Products/Product8984/31af000213-1_250x.jpg" alt="Велосипед STELS Navigator 300 Lady 28 Z010 (2018)"></div>
            <div class="name-holder">Велосипед STELS Navigator 300 Lady 28 Z010 (2018)</div>
            <div class="prices">
                <div class="buy-block">
                    <div class="leftColum">
                        <div class="old-price fontMBC">
                            <span class="old">9090&nbsp;</span>
                        </div>
                    </div>
                    <div class="rightColum">
                        <div style="float:left;width:119px;">
                            <button type="button" id="btn-show-modal-notify" class="btn btn-primary btn-lg btn-short-view-cat" data-toggle="modal" data-target="#product-notify-modal">
                                Купить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>