<br />
<br />
<br />
@{
    ViewBag.Title = "Личный кабинет";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<body>
    <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
    <h2>Личный кабинет</h2>
    <form action="/Server/Post" method="post">
        <table>
            <tr>
                <td>Логин:</td>
                <td> <input type="text" name="message" style="width:inherit" /></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><input type="password" name="password" /></td>
                <td><input type="submit" value="send" /></td>
            </tr>
        </table>
    </form>
    <form action="/Default/Index" method="get">
        <input type="submit" value="Регистрация" />
    </form>
    <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
    <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
</body>