@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<body>
    <h2>ВЫ ЗАРЕГАЛИСЬ</h2>
    <h2>ВЫ ЗАРЕГАЛИСЬ</h2>
    <h2>ВЫ ЗАРЕГАЛИСЬ</h2>
    <h2>ВЫ ЗАРЕГАЛИСЬ</h2>
    <h2>ВЫ ЗАРЕГАЛИСЬ</h2>
    <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
    <img src="~/Content/colorful-bicycle-background.jpg" width="1050" />
</body>